@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* header */


/* Scrollbar Track */
::-webkit-scrollbar {
  width: 2px;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #ff0000; /* Red color */
  border-radius: 10px;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Optional: Change scrollbar color for Firefox */
* {
  scrollbar-color: #F36A24 #FFF;
  scrollbar-width: thin;
}



a{
  color: #fff;
  text-decoration: none;
}
body{
  overflow-x: hidden;
}
nav{
  padding:20px!important;
  background: #0f2549;
  position: sticky!important;
  z-index: 999;
  width: 100%;
}
.navbar-nav {
  background-color: #fff;
  padding: 5px 16px;
  border-radius: 30px;

}
.ml-20{
  margin-left: 70px;
}

.owl-theme .owl-dots .owl-dot span{
  background: #ffffff6b!important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: #fff!important;

}
.owl-theme .owl-nav.disabled+.owl-dots{
  margin-top: 0px!important;
}

.navbar-nav a {
  color: #2d2d2d;
  margin-left: 18px;
  margin-right: 18px;

  font-family: 'inter';
  font-size: 16px;
  font-weight: 500;
}

nav button {
  background-color: #F26923 !important;
  font-family: 'inter' !important;
  border: 0px !important;
}



/* counrer */
#aboutstats {
  padding: 70px 80px;
  background-color: #E5E4E4;
  background-image: url('./greybg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
}

.counter h3 {
  font-size: 74px;
  font-weight: 500;
  font-family: 'inter';
  color: #434343;
  text-align: left;
  line-height: 60px;
}

.counter p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'inter';
  color: #5B5B5B;
  text-align: left;

}

.counterleft h2 {
  font-weight: 600;
  font-size: 55px;
  line-height: 63px;
  font-family: 'inter';
  margin-bottom: 30px;

}


.counterleft p {
  font-weight: 500;
  color: #464646;
  font-size: 18px;
  font-family: 'inter';
  width: 80%;
}

.counterseparator {
  margin: 30px auto;
}

.btn {
  background: linear-gradient(180deg, rgba(243,106,36,1) 23%, rgba(220,86,17,1) 68%);
  color: #fff;
  font-size: 16px;
  font-family: 'inter' !important;
  border-radius: 30px;
  padding: 10px 26px !important;
}

/* phoneui */
#phoneui{
  padding: 100px 60px 50px 60px;
  background: linear-gradient(11deg, rgba(15,37,73,1) 0%, rgba(28,55,100,1) 100%);
}

#phoneui h4{
  font-weight: 500;
  font-size: 36px;
  font-family: 'inter';
  color: #fff!important;
  text-align: center;
}
#phoneui p{
  color: #fff!important;
  font-size: 15px;
  text-align: center;
  font-family: 'inter';
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
}
#phoneui .iconimage{

width: 80px;
margin: auto;
display: block;
margin-bottom: 20px;
}
.apkimage{
  width: 70%;
}
.androdbtn{
  margin: auto;
  display: block;
  text-align: center;
}
.androdbtn img{
  margin-left: 20px;
  
}
/* banner */

main{
  background-image: url('./website-bg (2).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.left-content-banner h5{
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'inter';
  padding-top: 140px;
  padding-left: 30px;

}
.rightside-banner img{
  width: 80%;
  margin: auto;
  display: block  ;
}

        .custom-button {
            display: flex;
            align-items: center;
            width: fit-content;
            border: 2px solid white;
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background: transparent;
            font-weight: bold;
            position: relative;
            overflow: hidden;
            text-decoration: none;
        }

        .custom-button .icon {
            background-color: #f56a1c;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: -5px;
        }

        .custom-button .icon::before {
            content: '→';
            color: white;
            font-size: 18px;
            font-weight: bold;
        }

/* blue */
        #bgblue{
          background-image: url('./blue.png');
          background-size: cover;
          background-repeat: no-repeat;
          height: 260px;
        }

        #bgblue1{
        }

        .caption-text h4{
          font-size: 44px;
          font-family: 'inter';
          text-align: center;
          color: #fff;
          padding-top:60px;
        }

        #bgblue button{
          background-color: transparent;
          position: relative;
          border: 2.2px solid #fff;
          border-radius: 30px;
          text-transform: uppercase;
          color: #FFF;
          FONT-SIZE: 15PX;
          PADDING: 13PX 66PX 13px 21px;
          FONT-FAMILY: 'Inter';
          MARGIN:30px AUTO;
          DISPLAY: BLOCK;
        }


        #bgblue1 button{
          background-color: transparent;
          position: relative;
          border: 2.2px solid #fff;
          border-radius: 30px;
          text-transform: uppercase;
          color: #FFF;
          FONT-SIZE: 15PX;
          PADDING: 13PX 66PX 13px 21px;
          FONT-FAMILY: 'Inter';
          margin:20px 30px 30px 30px;
        }

        .contactbtn button{
          background-color: transparent;
          position: relative;
          border: 2.6px solid #000;
          border-radius: 30px;
          text-transform: uppercase;
          color: #000;
          FONT-SIZE: 15PX;
          PADDING: 13PX 66PX 13px 21px;
          FONT-FAMILY: 'Inter';
          margin: 40px auto 0px ;
          display: block;
          font-weight: 500;
        }
        .about-sliderbtn button{
          background-color: transparent;
          position: relative;
          border: 2.6px solid #000;
          border-radius: 30px;
          text-transform: uppercase;
          color: #000;
          FONT-SIZE: 15PX;
          PADDING: 13PX 66PX 13px 21px;
          FONT-FAMILY: 'Inter';
          margin:auto;
          display: block;
          font-weight: 400;
        }


        .investment button{
          background-color: transparent;
          position: relative;
          border: 2.6px solid #000;
          border-radius: 30px;
          text-transform: uppercase;
          color: #000;
          FONT-SIZE: 15PX;
          PADDING: 13PX 66PX 13px 21px;
          FONT-FAMILY: 'Inter';
          margin:30px 0px;
          display: block;
          font-weight: 400;
        }


        .boxform button{
          background-color: transparent;
          position: relative;
          border: 2.2px solid #000;
          border-radius: 30px;
          text-transform: uppercase;
          color: #000;
          FONT-SIZE: 15PX;
          PADDING: 10PX 80PX 10px 21px;
          FONT-FAMILY: 'Inter';
          margin:20px 30px 30px 30px;
        }

        .accordion-collapse {
          transition: max-height 1s ease-in-out;
        }
        .faqAccordion{
          border-radius: 20px;

        }
        .accordion-item{
          border-radius: 20px;
          margin-bottom: 20px;
          border-radius: 20px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }


        #accordian{
          padding: 60px 100px;
        }

        #accordian h3{
          margin-bottom: 50px;
          font-size: 34px;
          font-family: 'inter';
          font-weight: 700;
        }
        .accordion-body{
          font-size: 16px;
          font-family: 'inter';
          font-weight: 400;
          background-color: #dfdfdf52;
        }

        #accordian button{
          font-size: 15px;
          font-family: 'Inter';
          color: #000;
          font-weight: 500!important;
          border-top-left-radius: 20px!important;
          border-top-right-radius: 20px!important;
        }
        .accordion-button:focus ,.accordion-button:not(.collapsed){
          box-shadow: none;
          background-color: transparent;
        }
        /* slide */

        .why-krishangi-section {
          background: #e85c17;
          padding: 40px 20px;
        }
       .why-krishangi-section .owl-carousel.owl-drag .owl-item {
          margin-top: 20px;
        }
        
       .why-krishangi-section .custom-carousel .owl-stage-outer {
          height:273px;
          overflow-y: visible !important; /* Ensures active item is not cut off */
        }
        
       .why-krishangi-section .owl-item {
          transition: all 0.5s ease-in-out;
          transform: scale(0.7);
          filter: blur(1px);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
      .why-krishangi-section  .owl-carousel .center {
          transform: scale(1.2) !important; /* Increase size of active item */
          filter: blur(0) !important;
        }
        
        .card {
          background: white;
          padding: 10px;
          border-radius: 10px;
          text-align: center;
          transition: transform 0.3s ease-in-out;
        }
        
        .card-title {
          font-size: 15px;
          font-family: 'Inter';
          font-weight: 700;
          text-align: left;
        }
        
        .index {
          position: absolute;
          bottom: 10px;
          right: 10px;
          font-size: 22px;
          color: #e85c17;
          font-weight: 600;
          font-family: 'Inter';
        }
        .card-text{
          font-size: 12px;
        }
        .center  .card-text{
          font-size: 12px!important;

        }
        .owl-item   .card-text{
          font-size: 11px;
          text-align: left;
          font-family: 'Inter';

        }

        .why-krishangi-section h2{
          font-size: 55px;
          font-weight: 600;
          font-family: 'inter';
        }

       .text-why {
        font-size: 20px;
        margin-top: 20px;
        width: 90%;
        font-family: 'Inter';
        font-weight: 200;
    
        }
        .mb-c-30{
          margin-bottom: 100px;
        }


        /*  service*/
        #our-services{
          padding: 40px 60px;
        }
        .servicecard{
          background-image: url('./white tree (1).png');
          background-size: contain;
          border-radius: 10px;
          background-repeat: no-repeat;
          height: 420px!important;
          padding: 40px;
          background-color: #ef6620;
          background-position: right;
          margin-bottom: 20px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;            }

        .servicecard h2{
          font-family: 'inter';
          color: #fff;
          font-size: 32px;
          font-weight: 600;
        }
        .servicecard p{
          margin-top: 20px;
    color: #fff;
    width: 95%;
    font-family: 'inter';
    font-size: 24px;
        }
        .box1{
          width: 60px;
          margin-bottom: 30px;
        }
        .servicecard svg{

          position: absolute;     /* Add this */
          bottom: 30px;           /* 30px from bottom */
          right: 40px;            /* Align with padding on the right */
          fill: #fff;
          color: #000;
        }


  
        .servicecard1{
          background-image: url('./Mask group (1).png');          background-size: contain;
          border-radius: 10px;
          background-repeat: no-repeat;
          height: 420px!important;
          padding: 40px;
          background-color: #ef6620;
          background-position: right;
          margin-bottom: 20px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
              }

              .servicecard1:hover{
                background-color: #ef6620;
              }

              .servicecard1 {
                transition: background-color 0.5s ease, color 0.3s ease;
                background-image: url('./Mask\ group\ \(1\).png');

                color: black; /* Default text color */
                background-color: white; /* Default background */
                
              }
              
              .servicecard1:hover {
                background-color: #ef6620;
                color: white;
                background-image: url('./white tree (1).png');

              }
              
              .servicecard1:hover h2,
              .servicecard1:hover p,
              .servicecard1:hover svg path {
                color: white;
                fill: white; /* This changes the SVG arrow to white */
              }

              .servicecard1:hover img {
                filter: invert(1);
                transition: filter 0.1s ease;
              }

        .servicecard1 h2{
          font-family: 'inter';
          color: #434343;
          font-size: 32px;
          font-weight: 600;        }
        .servicecard1 p{
          margin-top: 20px;
          color: #434343;
          width: 95%;
          font-family: 'inter';
          font-size: 20px;
        }
        .box2{
          width: 60px;
          margin-bottom: 30px;
        }
        .servicecard1 svg {
          position: absolute;
          bottom: 30px;
          right: 40px;
          fill: #000;
          color: #000;
          transition: transform 0.3s ease;
        }
        
        .servicecard1 svg:hover {
          animation: slideLeftAndBack 0.6s ease;
        }

        @keyframes slideLeftAndBack {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(-10px);
          }
          100% {
            transform: translateX(0);
          }
        }
        
        .serviceheading{
          padding: 20px;
        }
        .serviceheading h4{
          width: 80%;
          color: #1C3764;
          font-family: 'inter';
          font-size: 55px;
          font-weight: 700;
          margin-bottom: 30px;
        }
        .serviceheading p{
          color: #000000;
          font-family: 'inter';
          font-size: 16px;
          width: 100%;
          font-weight:300;

        }


        #footer{
          padding: 20px 0px 20px  0px;
          background: linear-gradient(180deg, rgba(15,37,73,1) 40%, rgba(28,55,100,1) 100%);

        }
        .footertop h2{
          color: #fff;
          font-size: 20px;
          text-align: center;
          font-family: 'inter';
        }

        .footerlist h6{
          font-size: 18px;
          color: #fff;
          font-family: 'inter';
          margin-bottom: 20px;


        }
        .footerimg {
          width: 155px;
          margin: auto;
          display: block;
        }
        .footerlist ul{
          text-decoration: none;
          list-style-type: none;
          padding-left: 0px;
        }
        .footerlist li{
          color: #fff;
          font-size: 14px;
          font-family: 'inter';
          line-height: 30px;
font-weight: 200;

        }
        .sep-30{
          margin: 40px;
        }

        .footerlinkstop{
          padding: 30px 50px 0px;
        }
        .copyright{
          border-top: 2px solid #ffff;
          font-weight: 200;
          padding: 20px 40px;
          color: #fff;
          font-family: 'inter';
          font-size: 13px;
          text-align: center;
          padding-bottom: 0px;
        }
        .copyrighttext{
          margin-bottom: 0px;
        }
        .arrowbtn{
          background: linear-gradient(180deg, rgba(243,106,36,1) 23%, rgba(220,86,17,1) 68%);
          position: absolute;
          float: right;
          width: 80px;
          right: -35px;
          top: 2px;
          padding: 8px;
          border-radius: 20px;
        }
        .arrowbtn svg{
          width: 16px;
        }
        #form-ui{
          background-color: #0F2549;
          padding: 60px 140px;
        }
        .boxform{
          background-color: #fff;
          border-radius:30px;
          padding: 30px 40px;
        }
        .form-left img{
          width: 90%;
          display: block;
        }
        .headingabout h3{
          color: #fff;
          font-size: 64px;
          text-transform: uppercase;
          text-align: center;
          font-weight: 600;
          font-family: 'inter';
          margin-bottom: 40px;
        }
        input{
          border-radius: 20px!important;
          border: 1px solid #4E4E4E!important;
          margin-bottom: 20px;
          color: #A2A2A3;
          font-size: 14px;
          padding: 10px 20px!important;
          font-family:'inter';

        }
        .form-right p{
          font-size: 12px;
          color: #58595B;
          font-family: 'inter';
        }
        .form-right h4{
          font-size: 22px;
          font-family: 'Inter';
          margin-bottom: 30px;
        }
        .animatetext h4{
          font-size: 60px;
          color: #fff;
          font-family: 'inter';
          text-align: center;
          text-transform: uppercase;
          margin-top: 60px;
          margin-bottom:40px;
          font-weight: 600;
        }
.dotsimg
        {
          float: right;
          width: 66px;
      }
        .animatetext p{
          color: #fff;
          font-size: 48px;
          line-height: 70px;
          font-family: 'inter';
          text-transform: capitalize;
          font-weight: 500;
        }


#about-slider{
  padding:40px 0px 40px 30px;
  background: linear-gradient(180deg, rgba(229,228,228,1) 0%, rgba(252,251,252,1) 50%, rgba(229,228,228,1) 100%);

}
.headingslider h4{
  color: #434343;
  width:100%;
  font-size: 64px;
  font-family: 'inter';
  font-weight: 600;
}
.separator-20{
  padding: 20px;
}
.serviceheading span{
      color: #F36A24;
}
.sliderbox{
  background:linear-gradient(186deg, rgba(243,106,36,1) 0%, rgba(220,86,17,1) 100%);
  border-radius: 10px;
}.serviceheading span{
      color: #F36A24;
}
.leftslider{
  padding: 20px 30px;
}
.leftslider h4 {
  color: #fff;
  font-family: 'Inter';
  margin-bottom: 30px;
  margin-top: 34px;
  DISPLAY: FLEX;
  font-weight: 600;
  ALIGN-ITEMS: CENTER;

}
.leftslider p{
  color: #fff;
  font-weight: 200;
  font-family: 'inter';
  font-size: 47px;
  line-height: 54px;
  margin-bottom: 50px;
}
.rightslider{
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
}
.leftslider h6{
  border: 2px solid #fff;
  border-radius: 45px; 
     width: fit-content;  
       font-size: 24px;  
         color: #fff;  
           padding: 10px;
           font-weight: 700;
}

.rightslider img{
  width: 80%;
  height: 100%;
}

#investment{
  background-color: #fff;
  padding: 40px 20px;
}

.rightgroup h5{
  font-size: 22px;
  font-family: 'Inter';
  font-weight: 600;
}
.rightgroup li{
font-size: 18px;
width: 90%;
font-family: 'Inter';
font-weight: 300;
}
.topright h5{
  font-size: 33px;
  font-weight: bold;
  font-family: 'Inter';

}
.lineorange{
  height: 2px;
  background-color: #F36A24;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.bgblue{
  background-color: #0F2549;
  width: 98%;
  height: 100%;
}
.megamenu{
  width: 720px;
}

.megamenu img{
  width: 55px;
  margin: auto;
  display: block;
}
.arrow{
  position: absolute;
  top: -11px;
  left: 81px;
}
.dropdown-menu{
  margin-left: -45px;
    margin-top: 4px;
    border-top: 4px solid #df5914;
    border-radius: 0px!important;
}
.services-dropdown{
  border-top: 2px solid #F36A24;
}

.megalink h5{
  font-size: 16px;
  color: #434343;
  font-weight: 600;
  margin-bottom: 0px;
}
.megalink p{
  font-size: 14px;
  color: #757575;
}

#accordionservice{
  padding: 40px;
  background: linear-gradient(186deg, rgba(243,106,36,1) 0%, rgba(220,86,17,1) 100%);
}
#accordionservice h3{
  color: #fff;
  text-align: center;
  font-size: 64px;
  width: 70%;
  font-family: 'Inter';
  margin-bottom: 20px;
  margin: auto;

}

#accordionservice p
{
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 200;
  font-family: 'Inter';
  margin-bottom: 30px;
}
.accordion-header,#accordionservice .accordion-header ,#accordionservice .collapsed {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
#accordionservice .collapsed
{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#accordionservice .accordion-header{
  background-color: #FFA06F;
}
#accordionservice .accordion-item{
  border: 0px;
  border-radius: 10px;
}
#accordionservice .accordion-body{
  background-color:#ffa06f;
  color: #fff;
}
#accordionservice .collapsed{
  background-color: #ffa06f;

}
#accordionservice .accordion-button 
{
  color: #fff;
  font-size: 19px;
  font-family: 'Inter'
}


.breadcrumb {
  height: 435px;
  background-image: url('./banner-laef.png'); /* Just for visibility */
  align-items: center;
  justify-content: center; /* Optional: center horizontally too */
  text-align: center;margin-bottom: 0px;
  background-size: cover;
  background-position: right;
}

.breadcrumb-content h1 {
  /* You can add additional styling here */
  font-size: 64px!important;
  text-transform: uppercase;
  font-family: 'inter';
  font-weight: 600;
  color: #fff;
}


.breadcrumb-content p{
  color: #fff;
  font-family: 'inter';
  font-weight: 200;
  font-size: 20px;
}

#formcard h3{
  font-size: 36px;
  font-weight:600;
  font-family: 'inter';
  color: #434343;
}
  #formcard p {
    width: 80%;
    font-size: 18px;
    font-family: 'Inter';
    margin-bottom: 40px;
}

#formcard input{
  margin-bottom: 25px;
}
.detailcard{
  padding: 20px 25px; 
  background-color: #EFEEEE;
  border-radius: 10px;
  display: flex;
    vertical-align: center;
    margin-bottom: 20px;
    align-items: center;
}
.detailcard img{
  height: 40px;
}
.detailcard p{
  margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Inter';
    margin-left: 20px;
    font-weight: 500;

}
.breadcrumb-content  span{
  color: #F36A24;
}

#contactpage{
  padding: 20px;
}

.leftcontact{
  background-color: #EFEEEE;
  border-radius: 10px;
  padding:  50px;
}

#aboutpage{
  padding: 70px 50px;
}

#aboutpage video{
  border-radius: 10px;
  width: 85%;
  margin: auto;
  display: block;
}
.aboutcontent p{
  color: #4B4B4B;
  font-size: 24px;
  font-family: 'inter';
  width: 96%;

}

.headingabout h4{
  font-size: 52px;
  text-align: center;
  margin-bottom: 70px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: 'Inter';;
}
.pt-10{
  padding: 10px;
}
.aboutcontent .bottomcontent{
  margin-top: 10px!important;
}
.headingabout span{
  color: #df5914;
}
.headingabout img{
  margin-top: -5px;
}


.consultant img{
  position: relative;
  margin-top: -38px;
  margin-bottom: 20px;
}
        @media only screen and (max-width: 600px) {
          #aboutstats {
            padding: 30px 15px;
          }
          .counter h3 {
            font-size: 42px;
            line-height: 29px;
          }
          .counter p{
            font-size: 13px;
          }
          .counterleft p{
            width: 100%;
          }
          #our-services{
            padding: 20px 15px;
          }
          .serviceheading{
            padding: 0px;
          }
          .serviceheading h4 {
            font-size: 24px;
            margin-bottom: 10px;
          }
          .serviceheading p{
            margin-bottom: 20px;
          }
          .servicecard , .servicecard1{
            padding:20px;
          }
          .servicecard h2 , .servicecard1 h2 {
            font-size: 22px;
          }
          .servicecard p,  .servicecard1 p {
            font-size: 18px;
          }
          .servicecard,.servicecard1 {
            height: 320px!important;
          }
          .left-content-banner h5 {
            color: #fff;
            font-size: 31px;
            text-transform: uppercase;
            font-family: 'inter';
            padding-top: 54px;
            padding-left: 9px;
            line-height: 41px;
        }
        main {
          height: 85vh;
        }
        #phoneui{
          padding: 20px 15px;
        }
        .counterleft h2 {
          font-size: 24px;
          margin-bottom: 0px;
        }
        #phoneui h4 {
  font-size: 22px;
}
.counterleft p {
  font-size: 16px;
  width: 100%;
  font-weight: 400;
}
.btn{
  margin-bottom: 30px;
}
.androdbtn{
  display: flex;
}
.androdbtn img {
  margin-left: 0px;
  margin-right: 10px;
  width: 140px;
  margin: auto;
}

.why-krishangi-section h2{
  font-size: 26px;
}
#accordian{
  padding: 30px 15px;
}
#accordian h3{
  font-size: 24px;
}
.caption-text h4 {
  font-size: 22px;
}
.footerlinkstop{
  padding: 30px 15px;
}

.why-krishangi-section .owl-carousel .owl-stage-outer{
      overflow-y: inherit;
}
.why-krishangi-section.owl-carousel .center {
  transform: scale(1) !important;
}
.why-krishangi-section .custom-carousel .owl-stage-outer {
  height:auto;

}
#form-ui{
  padding: 30px 15px;
}
      }

        